$sidebarFont : 'Ubuntu', sans-serif;
$sidebarSize : 12px;
$sidebarLetterSpacing : 1px;
$sidebarBg: #463A3E;
$sidebarLinkColor: #453A3E;
$sidebarLinkColorClick: #D1B995;
$sidebarLinkColorHover: rgb(54, 45, 48);

.container-sidebar {
width: 100vw;
max-width: 200px;
margin: 0 auto;
height: 250px;

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

// background-color: $sidebarBg;

opacity: .8;
transition: .1s;

    .container-link {
        background-color: none;
        width: 170px;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 3px;
    }
    .container-link:hover {
        background-color: $sidebarLinkColorHover;
        
        cursor: pointer;
    }

    a {
        height: 20px;
        width: 100%;
        text-align: center;
        
        padding-top: 5px;
        color: $sidebarLinkColor;
        text-decoration: none;
        font-family: $sidebarFont;
        font-weight: 500;
        letter-spacing: $sidebarLetterSpacing;
        font-size: $sidebarSize;
    }

    a:hover {
        color: $sidebarLinkColorClick;
    }


    .click {
        background-color: $sidebarLinkColorHover;
        color: $sidebarLinkColorClick;
        border-radius: 3px;
    }
}

