    $navbarFont : 'Ubuntu', sans-serif;
    $navbarLinksSize : 20px;
    $navbarLinkLetterSpacing : 1px;

.containerNavbar {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    height: 35px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgb(97, 97, 182);

    opacity: .8;
    transition: .1s;

    .containerLink {
        background-color: rgb(97, 97, 182);
        width: 180px;
        height: 35px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerLink:hover {
        background-color: rgb(78, 78, 179);
        cursor: pointer;
    }

    a {
        height: 30px;
        width: 100%;
        text-align: center;
        
        padding-top: 5px;
        color: rgb(255, 250, 250);
        text-decoration: none;
        font-family: $navbarFont;
        font-weight: 500;
        letter-spacing: $navbarLinkLetterSpacing;
        font-size: $navbarLinksSize;
    }

    
    .click {
        background-color: rgb(78, 78, 179);
    }
}

.containerNavbar:hover {
    opacity: 1;
}