.container {
    padding: 10px;
    .loadGif {
        width: 150px;
        height: 150px;
    }
    .container-pages {
        overflow-y: scroll;
        background-color: rgb(194, 194, 194);

        width: 150px;
        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .container-user-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 300px;
        height: 700px;
        overflow-y: scroll;

        background-color: rgb(194, 194, 194);

        .user-card {
            margin: 20px;
        }
    }

    
}