.container {
    padding: 10px;

    .container-pages {
        overflow-x: scroll;

        width: 300px;
        height: 100px;

        .pageNumber {
            margin: 5px;
            cursor: pointer;
        }
        .selected {
            font-weight: bold;
        }
    }

    .container-user-card {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 500px;
        height: 200px;
        overflow-x: scroll;

        .user-card {
            margin: 20px;
        }
    }

    
}