.chat-container {
    width: 650px;
    min-height: 600px;
    border-radius: 5px;


    background-color: #F4F4FF;

    display: flex;
    justify-content: center;
    align-items: center;


    .chat-container__dialog {
        width: 95%;
        height: 95%;
    }
}