.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    
    .container-dialogs {
        width: 450px;
        min-height: 1000px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }

    .container-messages {
        width: 700px;
        height: 1000px;
    }
}
