.container-dialogs {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-dialogs__dialogs {

    }

    .container-dialogs__viewMessage {
        
    }
}