    $nameNetworkFont : 'Bangers', cursive;
    $nameNetworkSize : 50px;
    $nameNetworkLetterSpacing : 4px;

.containerHeader {
    width: 100vw;
    max-width: 1900px;
    margin: 0 auto;

    h1 {
        font-family: $nameNetworkFont;
        letter-spacing: $nameNetworkLetterSpacing;
        font-size: $nameNetworkSize;
    }
    .logo {
        padding-top: 20px;
    }
    .header {
        max-width: 100vw;
        height: 130px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;   
        
        background-color: rgb(252, 220, 177);
    }

}
