    $nameNetworkFont : 'Bangers', cursive;
    $nameNetworkSize : 50px;
    $nameNetworkLetterSpacing : 4px;
    $nameNetworkColor : rgb(246, 247, 239);

.containerHeader {
    
    max-width: 1700px;
    margin: 0 auto;

    
    
    .header {
        width: 100vw;
        max-width: 1700px;
        height: 130px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;   
        
        background-color: #2A1F23;

        .logo {
            padding-top: 20px;
            margin: 0 auto;
    
            h1 {
                font-family: $nameNetworkFont;
                letter-spacing: $nameNetworkLetterSpacing;
                font-size: $nameNetworkSize;
                color: $nameNetworkColor;
                text-align: center;
                
            }
        }
    }

}
