.burgerMenu-container {
    min-width: 25px;
    height: 25px;
    background-color: var(--bgcolor-burger-menu);

    margin: 0 10px 0 10px;
    display: none;
    border-radius: 5px;
    position: relative;
    .baseLine {
        background-color: rgb(255, 178, 83);
        width: 18px;
        height: 3px;
        border-radius: 2px;
    }

    .baseLine::before,
    .baseLine::after {
        position: absolute;
        width: 18px;
        height: 3px;
        content: '';
        background-color: rgb(255, 178, 83);
        width: 18px;
        transition: transform .2s;
        border-radius: 2px;
    }

    .baseLine::before {
        transform: translateY(-5px);
    }
    .baseLine::after {
        transform: translateY(5px);
    }

    
}
.burgerMenu-active .baseLine::before {
    transform: rotate(45deg);
}
.burgerMenu-active .baseLine::after {
    transform: rotate(-45deg);
}
.burgerMenu-active .baseLine {
    height: 0px;
}
@media (max-width: 500px) {
    .burgerMenu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




