    $navbarFont : 'Ubuntu', sans-serif;
    $navbarLinksSize : 20px;
    $navbarLinkLetterSpacing : 1px;

.containerFastLinks {
    width: 100vw;
    max-width: 100%;
    height: 35px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #463A3E;

    opacity: .8;
    
}