.profile {
    padding: 10px;
    
    max-width: 1200px;

    min-height: 1500px;
    
    .profile__info {
        max-width: 1150px;
        width: 100%;
        height: 100%;
        max-height: 500px;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .profile__info__avatar {
            width: 450px;
            height: 500px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            background-color: rgb(221, 79, 79);
            .profile__info__avatar__img {
                width: 350px;
                height: 400px;
            }

            .profile__info__avatar__settings-img {
                width: 350px;
                height: 80px;

                background-color: #000;
            }
        }

        .profile__info__person-data {
            width: 660px;
            height: 500px;

            background-color: #000;
        }
    }
    .profile__wall {
        max-width: 1150px;
        width: 100%;
        height: 100%;
        min-height: 1500px;
        margin: 12px auto 0 auto;

        background-color: rgb(196, 84, 84);

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .profile__wall__profile-content {
            width: 450px;
            height: 500px;

            background-color: #000;
        }

        .profile__wall__posts {
            width: 660px;
            
            background-color: #000;

            .profile__wall__posts__create {
                
                .new_post {
                    width: 300px;
                    height: 50px;
                    
                    resize: none;
                    outline: none;
                }

                .add_post {

                }
            }

            .profile__wall__posts__display {
                width: 100%;
                min-height: 500px;

                background-color: #fff;

                .post {
                    border: 1px black solid;

                    margin: 15px;
                }
            }
        }
    }
}