$lightBG: rgb(213, 213, 255);
$darkBG: rgb(138, 130, 130);
$profileBlocksColor: rgb(239, 239, 255);


.profile {
    padding: 10px;
    
    max-width: 1200px;

    min-height: 1500px;
    
    .profile-info {
        max-width: 1150px;
        width: 100%;
        height: 100%;
        max-height: 500px;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .profile-info__avatar {
            width: 450px;
            height: 500px;

            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            background-color: $profileBlocksColor;

            
            .profile-info__img {
                width: 350px;
                height: 350px;

                border-radius: 25%;
            }

            .profile-info__settings-img {
                width: 390px;
                height: 80px;

                border-radius: 10px;

                background-color: $darkBG;
            }

            .profile-info__fullname {
                min-width: 100px;
                width: 100%;
                height: auto;
                border-radius: 5px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: $lightBG;
            }
        }

        .profile-info__person-data {
            width: 680px;
            height: 500px;

            border-radius: 10px;
            background-color: $profileBlocksColor;

            .profile-info__about-me {
                max-width: 100%;
                height: 30px;

                margin: 5px;
                padding: 4px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                background-color: $lightBG;

                border-radius: 10px;
            }
            .profile-info__status {
                max-width: 100%;
                height: 30px;

                margin: 5px;
                padding: 4px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                background-color: $lightBG;

                border-radius: 10px;

                .profile-info__form {
                    .profile-info__message {
                        outline: none;
                    }
                }
            }
        }
    }
    .profile-wall {
        max-width: 1150px;
        width: 100%;
        height: 100%;
        min-height: 1500px;
        margin: 12px auto 0 auto;

        

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .profile-wall__profile-content {
            width: 450px;
            height: 500px;

            border-radius: 10px;
            background-color: $profileBlocksColor;
        }

        .profile-wall__posts {
            width: 680px;
            
            border-radius: 10px;
            background-color: $profileBlocksColor;

            .profile-wall__create-post {

                height: 100px;
                
                border-radius: 10px;
                background-color: $lightBG;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .new-post {
                    width: 300px;
                    height: 50px;
                    
                    resize: none;
                    outline: none;
                    border-radius: 10px;
                }

                .add-post {
                    width: 150px;
                    height: 30px;
                }
            }

            .profile-wall__display-post {
                width: 648px;
                min-height: 500px;
                margin: 15px;
                

                .post {
                    width: 100%;
                    border: 1px black solid;
                    
                    margin-top: 10px;
                    overflow: auto;
                    word-break: break-word;
                }
                .post:first-child {
                    margin: 0;
                }
            }
        }
    }
}