
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: none;
  outline: none;
  cursor: pointer;
}
:root {
  // common
  --base-backgroundcolor-buttons-hover: rgb(244, 244, 255);
  --base-links-color: rgb(0, 0, 0);

  // app-component
  --base-backgroundcolor-app: rgb(231, 231, 255);
  --base-backgroundcolor-two-column: rgb(255, 255, 255);
  // fast-links-component
  --base-backgroundcolor-fastlinks: rgb(255, 255, 255);
  --backgroundcolor-button-exit: rgb(255, 255, 255);
  // burgerMenu
  --bgcolor-burger-menu: rgb(231, 231, 255);
  // friend-component
  --background-color-friend:  rgb(255, 255, 255);
  

  // corusel-component
  --corusel-boxshadow-color: rgb(194, 107, 2);
  // sidebar-component
  --sidebar-backgroundcolor-buttons-hover: rgb(214, 218, 255);
  --sidebar-fontFamily: 'Ubuntu', sans-serif;
  --sidebar-letterSpacing: 1px;
  --sidebar-font-size: 12px;
  --sidebar-background-color: rgb(213, 215, 255);
}
body {
  // background-color: var(--base-backgroundcolor-app);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: white;
    text-decoration: none;
  }

  a:active {
    box-shadow: none;
  }
}


