
.containerApp {
    background-color: rgb(231, 231, 253);
    margin: 0 auto;

   
    

    .contentApp {
        width: 100vw;
        max-width: 1900px;
        margin: 0 auto;
        height: 2000px;
        

        background-color: rgb(255, 255, 255);
        border-radius: 10px;

    }
}