
.container-app {
    background-color: rgb(231, 231, 253);
    margin: 0 auto;

    
    
    .container-two-column {
        display: flex;
        flex-direction: row;

        margin: 0 auto;
        width: 100vw;
        max-width: 1400px;

        .container-content {
            max-width: 1200px;
            .content-app {
                // width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                min-height: 1500px;
                
        
                background-color: rgb(231, 231, 253);

                border: 3px rgb(255, 255, 255) solid;
        
            }
        }
    }

    
}